<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .content{
            display: flex;
            justify-content: center;
            /* margin:30px; */
        }
        form{
            display: flex;
            flex-direction: column;
        }
        input{
            font-size: 11px;
        }
        button{
            color:rgb(0, 0, 0);
            background-color: rgb(76, 230, 76);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 10px;
            padding:5px;
            margin-top:10px;
            font-weight: 800;
            border: 0;
            border-radius: 10px;
        }
        button:hover{
            color:black;
            background-color:darkorange ;
        }
    </style>
</head>
<body>
    <%- include("./header.ejs") %>
    <div class="content">
        <form method="POST">
            <h1>Add products</h1>
            <label for="Title">Title:</label>
            <input type="text" placeholder="Title" name="Title">
            <label for="Description">Description:</label>
            <input type="text" placeholder="Description" name="Description">
            <label for="Image">Image:</label>
            <input type="text" placeholder="Image" name="Image">
            <label for="Category">Category:</label>
            <input type="text" placeholder="Category" name="Category">
            <label for="Rating">Rating:</label>
            <input type="text" placeholder="Rating" name="Rating">
            <button type="submit" id="btn-register">Click</button>
        </form>
    </div>
    <%- include("./footer.ejs") %>
</body>
</html>
